In [1]:
import duckdb

con = duckdb.connect(database=':memory:')
con.execute("""
    SELECT model, error, fairness_impact, accuracy_impact, COUNT(*) as count
    FROM 'cleanml.csv' 
    GROUP BY model, error, fairness_impact, accuracy_impact
    ORDER BY model, error, fairness_impact DESC, accuracy_impact DESC
""").df()

                  model           error fairness_impact accuracy_impact  count
0               XGBoost        mislabel        positive        positive      4
1               XGBoost        mislabel        negative        positive      4
2               XGBoost        mislabel   insignificant        positive      4
3               XGBoost        mislabel   insignificant   insignificant      2
4               XGBoost  missing_values        positive        positive      8
5               XGBoost  missing_values        positive        negative      2
6               XGBoost  missing_values        negative        positive     10
7               XGBoost  missing_values        negative        negative      3
8               XGBoost  missing_values   insignificant        positive     40
9               XGBoost  missing_values   insignificant        negative      3
10              XGBoost  missing_values   insignificant   insignificant      6
11              XGBoost        outliers        positive        positive      2
12              XGBoost        outliers        positive        negative      5
13              XGBoost        outliers        positive   insignificant      2
14              XGBoost        outliers        negative        positive      4
15              XGBoost        outliers        negative        negative     19
16              XGBoost        outliers        negative   insignificant      5
17              XGBoost        outliers   insignificant        positive     14
18              XGBoost        outliers   insignificant        negative     24
19              XGBoost        outliers   insignificant   insignificant     51
20   knn_classification        mislabel        positive        positive      2
21   knn_classification        mislabel        negative        positive      4
22   knn_classification        mislabel        negative   insignificant      1
23   knn_classification        mislabel   insignificant        positive      6
24   knn_classification        mislabel   insignificant   insignificant      1
25   knn_classification  missing_values        positive        positive     12
26   knn_classification  missing_values        positive   insignificant      2
27   knn_classification  missing_values        negative        positive      8
28   knn_classification  missing_values        negative        negative      1
29   knn_classification  missing_values        negative   insignificant     14
30   knn_classification  missing_values   insignificant        positive      4
31   knn_classification  missing_values   insignificant        negative     15
32   knn_classification  missing_values   insignificant   insignificant     16
33   knn_classification        outliers        positive        positive     11
34   knn_classification        outliers        positive   insignificant      2
35   knn_classification        outliers        negative        positive     18
36   knn_classification        outliers        negative   insignificant      6
37   knn_classification        outliers   insignificant        positive     31
38   knn_classification        outliers   insignificant        negative      2
39   knn_classification        outliers   insignificant   insignificant     56
40  logistic_regression        mislabel        positive        positive      4
41  logistic_regression        mislabel        negative        positive      5
42  logistic_regression        mislabel   insignificant        positive      5
43  logistic_regression  missing_values        positive        positive     10
44  logistic_regression  missing_values        positive        negative      1
45  logistic_regression  missing_values        positive   insignificant      2
46  logistic_regression  missing_values        negative        positive      6
47  logistic_regression  missing_values        negative   insignificant      9
48  logistic_regression  missing_values   insignificant        positive      8
49  logistic_regression  missing_values   insignificant        negative      3
50  logistic_regression  missing_values   insignificant   insignificant     33
51  logistic_regression        outliers        positive        positive      2
52  logistic_regression        outliers        positive        negative      2
53  logistic_regression        outliers        positive   insignificant      5
54  logistic_regression        outliers        negative        positive      1
55  logistic_regression        outliers        negative        negative     15
56  logistic_regression        outliers        negative   insignificant      6
57  logistic_regression        outliers   insignificant        positive     23
58  logistic_regression        outliers   insignificant        negative     17
59  logistic_regression        outliers   insignificant   insignificant     55

## How often did data cleaning not negatively impacting fairness?

In [2]:
con.execute("""
    SELECT 
        model, error,    
        fairness_impact!='negative' AND accuracy_impact!='negative' as non_negative_impact, 
        COUNT(*) as count    
    FROM 'cleanml.csv' 
    GROUP BY model, error, non_negative_impact
    ORDER BY model, error, non_negative_impact DESC
""").df()

                  model           error  non_negative_impact  count
0               XGBoost  missing_values                 True    134
1               XGBoost  missing_values                False     10
2               XGBoost        outliers                 True    147
3               XGBoost        outliers                False     69
4    knn_classification  missing_values                 True     66
5    knn_classification  missing_values                False     78
6    knn_classification        outliers                 True    187
7    knn_classification        outliers                False     29
8   logistic_regression  missing_values                 True     86
9   logistic_regression  missing_values                False     58
10  logistic_regression        outliers                 True    137
11  logistic_regression        outliers                False     79

## Is there a cleaning approach (per dataset, error and metric) to improve fairness?

In [3]:
con.execute("""
    SELECT DISTINCT model, dataset, error, metric, TRUE as cleaning_found
    FROM 'cleanml.csv' as csv
    WHERE EXISTS(
        SELECT model, dataset, error, metric FROM 'cleanml.csv' AS csv2
        WHERE 
            csv2.model = csv.model AND
            csv2.dataset = csv.dataset AND
            csv2.error = csv.error AND
            csv2.metric = csv.metric AND
            csv2.fairness_impact = 'positive'
    )    
""").df()

,model,dataset,error,metric,cleaning_found
0,logistic_regression,adult,outliers,equal_opportunity,True
1,XGBoost,adult,outliers,equal_opportunity,True
2,XGBoost,folktables,outliers,equal_opportunity,True
3,logistic_regression,folktables,missing_values,equal_opportunity,True
4,knn_classification,folktables,missing_values,equal_opportunity,True
5,knn_classification,german,missing_values,equal_opportunity,True
6,XGBoost,folktables,missing_values,equal_opportunity,True
7,logistic_regression,folktables,outliers,predictive_parity,True
8,logistic_regression,credit,outliers,predictive_parity,True
9,knn_classification,adult,outliers,predictive_parity,True
10,knn_classification,credit,outliers,predictive_parity,True
11,knn_classification,german,outliers,predictive_parity,True
12,logistic_regression,adult,missing_values,predictive_parity,True
13,logistic_regression,folktables,missing_values,predictive_parity,True
14,logistic_regression,credit,missing_values,predictive_parity,True
15,knn_classification,folktables,missing_values,predictive_parity,True
16,knn_classification,credit,missing_values,predictive_parity,True
17,XGBoost,adult,missing_values,predictive_parity,True

## Is there a cleaning approach (per dataset, error and metric) to improve fairness without decreasing accuracy?

In [4]:
con.execute("""
    SELECT DISTINCT model, dataset, error, metric, TRUE as cleaning_found
    FROM 'cleanml.csv' as csv
    WHERE EXISTS(
        SELECT model, dataset, error, metric FROM 'cleanml.csv' AS csv2
        WHERE 
            csv2.model = csv.model AND
            csv2.dataset = csv.dataset AND
            csv2.error = csv.error AND
            csv2.metric = csv.metric AND
            csv2.fairness_impact = 'positive' AND csv2.accuracy_impact!='negative'
    )   
""").df()

,model,dataset,error,metric,cleaning_found
0,XGBoost,adult,outliers,equal_opportunity,True
1,logistic_regression,folktables,missing_values,equal_opportunity,True
2,knn_classification,folktables,missing_values,equal_opportunity,True
3,knn_classification,german,missing_values,equal_opportunity,True
4,XGBoost,folktables,missing_values,equal_opportunity,True
5,logistic_regression,folktables,outliers,predictive_parity,True
6,logistic_regression,credit,outliers,predictive_parity,True
7,knn_classification,adult,outliers,predictive_parity,True
8,knn_classification,credit,outliers,predictive_parity,True
9,knn_classification,german,outliers,predictive_parity,True
10,logistic_regression,adult,missing_values,predictive_parity,True
11,logistic_regression,folktables,missing_values,predictive_parity,True
12,knn_classification,folktables,missing_values,predictive_parity,True
13,XGBoost,adult,missing_values,predictive_parity,True